.idea
/weights/
/output/
/logs/
/visual/data
/visual/plots

# Ignore everything in the data directory
data/*
# Un-ignore the "meters/final" directory
!data/meters/final/
# Allow all files in "data/meters/final"
!data/meters/final/*
