data/* filter=lfs diff=lfs merge=lfs -text
data/meters/cleaned/chilledwater_cleaned.csv filter=lfs diff=lfs merge=lfs -text
data/meters/cleaned/electricity_cleaned.csv filter=lfs diff=lfs merge=lfs -text
